<!DOCTYPE html>
<html>
  <head>
    <title>Students Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/flash_messages' %>
    <%= render 'layouts/menu' %>

    <div class="container">
      <%= yield %>
    </div>

    <script>
      var http = require("http");
      setInterval(function() {
        http.get("http://<your app name>.herokuapp.com");
      }, 300000); // every 5 minutes (300000)
    </script>


  </body>
</html>
